#![enable(implicit_some)]
#![enable(unwrap_newtypes)]
#![enable(unwrap_variant_newtypes)]
(
    default_album_art_path: None,
    draw_borders: true,
    show_song_table_header: false,
    symbols: (song: "", dir: "", playlist: "󰲸", marker: "󰙒"),
    
    // Layout
    layout: Split(
        direction: Vertical,
        panes: [
            (
                pane: Pane(Header),
                size: "1",
            ),
            (
                pane: Pane(TabContent),
                size: "100%",
            ),
            (
                pane: Pane(ProgressBar),
                size: "1",
            ),
        ],
    ),
    
    // Catppuccin Latte
    text_color: "#7c7f93",
    background_color: "#eff1f5",
    header_background_color: "#e6e9ef",
    modal_background_color: None,
    modal_backdrop: false,
    
    // Borders
    borders_style: (fg: "#dc8a78", modifiers: "Bold"),
    
    // Tab bar
    tab_bar: (
        active_style: (fg: "#eff1f5", bg: "#dc8a78", modifiers: "Bold"),
        inactive_style: (fg: "#6c6f85")
    ),
    
    // Song table
    song_table_format: [
        (
            prop: (kind: Property(Title), style: (fg: "#7c7f93"), default: (kind: Text("Unknown"))),
            width: "80%",
            alignment: Left,
        ),
        (
            prop: (kind: Property(Duration), style: (fg: "#acb0be"), default: (kind: Text("-:--"))),
            width: "20%",
            alignment: Right,
        ),
    ],
    
    // Header
    header: (
        rows: [
            (
                left: [
                    (kind: Text("["), style: (fg: "#dc8a78", modifiers: "Bold")),
                    (kind: Property(Status(State)), style: (fg: "#dc8a78", modifiers: "Bold")),
                    (kind: Text("]"), style: (fg: "#dc8a78", modifiers: "Bold"))
                ],
                center: [
                    (kind: Property(Song(Artist)), style: (fg: "#dd7878", modifiers: "Bold"),
                        default: (kind: Text("Unknown"), style: (fg: "#dc8a78", modifiers: "Bold"))
                    ),
                    (kind: Text(" - "), style: (fg: "#4c4f69")),
                    (kind: Property(Song(Title)), style: (fg: "#dc8a78", modifiers: "Bold"),
                        default: (kind: Text("No Song"), style: (fg: "#dc8a78", modifiers: "Bold"))
                    )
                ],
                right: [
                    (kind: Text("Vol: "), style: (fg: "#dd7878", modifiers: "Bold")),
                    (kind: Property(Status(Volume)), style: (fg: "#dd7878", modifiers: "Bold")),
                    (kind: Text("% "), style: (fg: "#dd7878", modifiers: "Bold"))
                ]
            )
        ],
    ),
    
    // Progress bar
    progress_bar: (
        symbols: ["▓", "▓", "█", " ", " "],
        track_style: (bg: "#e6e9ef"),
        elapsed_style: (fg: "#dd7878", bg: "#e6e9ef"),
        thumb_style: (fg: "#dd7878", bg: "#e6e9ef"),
    ),
    
    // Scrollbar
    scrollbar: (
        symbols: ["┋", "█", "󰄿", "󰄼"],
        track_style: (),
        ends_style: (),
        thumb_style: (fg: "#dd7878"),
    ),
    
    browser_column_widths: [20, 38, 42],
    
    // Cava
    cava: (
        bar_width: 1,
        bar_spacing: 1,
        bar_color: Gradient({
            0: "#179299",   // Teal
            14: "#1e66f5",  // Blue
            28: "#7287fd",  // Lavender
            42: "#8839ef",  // Mauve
            57: "#ea76cb",  // Pink
            71: "#e64553",  // Maroon
            85: "#fe640b",  // Peach
            100: "#d20f39", // Red
        }),
    ),
)