#![enable(implicit_some)]
#![enable(unwrap_newtypes)]
#![enable(unwrap_variant_newtypes)]
(
    theme: "theme",
    cava: (
        input: (
            method: Fifo,
            source: "/tmp/mpd.fifo",
        ),
        framerate: 180,
        bars: 0,
        bar_width: 2,
        autosens: true,
        sleep_timer: 10,
        bar_spacing: 0,
        smoothing: (
            integral: 100,
            monstercat: false,
            gravity: 70,
        ),
        colors: (
            gradient: Some((
                count: 8,
                colors: ["#179299", "#1e66f5", "#7287fd", "#8839ef", "#ea76cb", "#e64553", "#fe640b", "#d20f39"],
            )),
        ),
    ),
    tabs: [
        (
            name: "Queue",
            pane: Split(
                direction: Horizontal,
                panes: [
                    (size: "60%", pane: Pane(Queue)),
                    (
                        size: "40%",
                        pane: Split(
                            direction: Vertical,
                            panes: [
                                (size: "60%", pane: Pane(AlbumArt)),
                                (size: "40%", pane: Pane(Cava)),
                            ],
                        ),
                    ),
                ],
            ),
        ),
        (
            name: "Directories",
            pane: Pane(Directories),
        ),
        (
            name: "Artists",
            pane: Pane(Artists),
        ),
        (
            name: "Album Artists",
            pane: Pane(AlbumArtists),
        ),
        (
            name: "Albums",
            pane: Pane(Albums),
        ),
        (
            name: "Playlists",
            pane: Pane(Playlists),
        ),
        (
            name: "Search",
            pane: Pane(Search),
        ),
    ],
)