#![enable(implicit_some)]
#![enable(unwrap_newtypes)]
#![enable(unwrap_variant_newtypes)]
(
    theme: "~/.config/rmpc/themes/catppuccin-latte.ron",
    tabs: [
    (
        name: "Queue",
        pane: Split(
            direction: Horizontal,
            panes: [(size: "60%", pane: Pane(Queue)), (size: "40%", pane: Pane(AlbumArt))],
        ),
    ),
    (
        name: "Directories",
        pane: Pane(Directories),
    ),
    (
        name: "Artists",
        pane: Pane(Artists),
    ),
    (
        name: "Album Artists",
        pane: Pane(AlbumArtists),
    ),
    (
        name: "Albums",
        pane: Pane(Albums),
    ),
    (
        name: "Playlists",
        pane: Pane(Playlists),
    ),
    (
        name: "Search",
        pane: Pane(Search),
    ),
    ],
)